<div class="form-top">
    <h3>Log In</h3>
</div>
<form action="/users/login" method="POST" id="login-form">
    <div class="form-group">
        <label for="name">Email:</label>
        <input type="email" class="form-control" placeholder="Your Email..." name="lpepe">
    </div>
    <div class="form-group">
        <label for="reg name">Registered Name:</label>
        <input type="text" class="form-control" placeholder="Your Name..." name="lname">
    </div>
    <button type="submit" class="btn btn-success">Log In</button>
    <p>Not Yet Registered? <a href="/signup">Register Here</a>.</p>
</form>