<div class="form-top">
    <h3>Sign Up</h3>
    <p>Fill In Your Dets</p>
</div>
<form action="/users/signup" method="POST" id="reg-form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Your Name..." name="rjina">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="someone@example.com" name="rpepe">
    </div>
    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" class="form-control" placeholder="Password..." name="rsiri">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <p>Already Registered? <a href="/">Login</a>.</p>
</form>